# Server Port
PORT=5000

# MongoDB Connection String
MONGO_URI=mongodb://127.0.0.1:27017/exampoint_db

# JWT Secret Key
JWT_SECRET=exampoint_jwt_super_secret_key_2026

# Nodemailer Email SMTP Credentials (Optional: Leave blank to use auto Ethereal test account or console logger)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
EMAIL_FROM="ExamPoint Registration <no-reply@exampoint.com>"

# Frontend Login URL (Included in welcome emails)
CLIENT_URL=http://localhost:3000
